body {
    font-family: 'Montserrat', sans-serif;
    /* line-height: 1.8;
    color: #555555;*/
    font-size: 14px;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 0.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

/* Default Button */

.btn, input[type=submit], .button, .main-menu__link>span {
    font-family: 'Montserrat' !important;
    font-weight: 900;
}

.main-menu__item .main-menu__link {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    /* color: #282a43; */
}

.lang-select__sub-list::before, .main-menu__sub-list::before {
    content: "";
    display: inline-block;
    border: 15px solid transparent;
    border-top: 20px solid #343877;
    border-bottom: 20px solid #343877;
    border-left: 20px solid #343877;
    position: absolute;
    top: 30px;
    right: 43px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.main-menu__sub-list {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: -55px;
    width: 235px;
    padding: 35px;
    background-color: #343877;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

slider__item--style-2 .promo-slider__title {
    color: inherit;
    font-size: 36px;
    line-height: 1.4;
}

.promo-slider__item--style-2 {
    color: #343877;
}

section.section {
    padding: 140px 0;
    padding-bottom: 140px;
}

section.section {
    padding: 120px 0;
    padding-bottom: 120px;
}

.donors::before {
    /* width: calc(100% - 75px); */
    width: 100%;
}

.text-section__heading {
    font-family: "Permanent Marker", cursive !important;
}

/* .text-section--style-2 .text-section__heading {
    font-size: 280px;
} */

.text-section__heading {
    font-size: 150px !important;
}

.text-section__heading__sm {
    font-size: 90px !important;
    font-family: "Permanent Marker", cursive !important;
    color: #efc940;
    line-height: 1;
    font-weight: 400;
}